body {
    font-family: 'Montserrat';
}
h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
h3 {
    line-height: 1.5rem;
    font-family: 'Montserrat-Bold';
}
h2 {
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'Montserrat-Bold';
}
p {
    color: #8f8f8f;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.rotate-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* .heading-div {
    margin-top: 30px;
} */

.download-btn {
    margin: 5% 3% 5% 0;
}

.feature-box {
    padding: 5%;
    text-align: center;
}
#features {
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}
.features-color {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-color:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;

}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing {
    padding: 100px;
    text-align: center;
}

.pricing {
    padding: 3% 2%;
}
#cta {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 25% 1%;
    margin-bottom: 2%;
}

.cta-heading {
    font-family: 'Montserrat-Bold';
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    text-align: center;
    background-color: #fff;
}
.footer-logos {
    margin: 1%;
}

@media (max-width: 1066px) {
    #title {
        text-align: center;
    }

    .rotate-image {
        position: static;
        transform: rotate(0);
    }
}