body {
    margin: 0;
    text-align: center;

}

.top-container {
    background-color: #b8e2cb;
    margin: 0;
    padding: 20px;
    position: relative;
    padding-top: 100px;
    /* width: 200px;
    height: 200px; */
}

.middle-container {
    /* margin-left: 200px; */
    margin-top: 20px;
    margin-bottom: 30px;
}

.bottom-container {
    /* margin-left: 400px; */
    background-color: #b8e2cb;
    padding: 20px;

}

h1 {
    margin: 50px auto 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    color: #66BFBF;
    /* line-height: 2; */
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3,
a {
    color: #11999E;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img, .chilli-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}
.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
}

/* .code-skill-description {
    clear: left;
}
.chilli-skill-description {
    clear: right;
} */

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 5%;
    border-width: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    background: #3e45ac;
    color: red;
    border-radius: 30px;
    font-size: larger;
}
.btn:hover {
    background: green;
}
.footer-link {
    margin: 25px;
    text-decoration: none;
}